@charset 'UTF-8';
@import 'mixins';

$yellow: #ffcc24;
$blue: #0078fc;
$trans: all 0.2s ease-in-out;

// @include font-face('fontName', '../fonts/fontPath/fontName', normal);

::selection {
    background: $blue;
    color: #fff;
}

html,
body {
    height: 100%;
}

body {
    @include r(767) {
        font-size: 15px;
    }

    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.44;
    color: #292929;
    display: flex;
    flex-wrap: wrap;

    &.overflow {
        overflow: hidden;
    }
}

* {
    box-sizing: border-box;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
}

h2,
.h2 {
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 35px;
}

.subtitle {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.btn,
input,
textarea,
select,
button:focus {
    outline: none;
}

table {
    border-collapse: collapse;

    thead {
        th {
            background: #e9edf0;
            text-align: left;
            padding: 16px 27px;
        }
    }

    tbody {
        tr {
            border-bottom: 2px solid #fff;

            &.hide {
                position: relative;
                top: -2px;
                display: none;

                &.active {
                    display: table-row;
                }
            }

            td {
                background: #f7f7f7;
                padding: 14px 27px;
            }
        }
    }
}

input[type='number'],
input[type='text'] {
    background: #ffffff;
    border-radius: 3px;
    padding: 13px 23px;
    font-weight: 700;
    font-size: 17px;
    border: 0;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.checkbox {
    color: rgba(41, 41, 41, 0.62);
    font-weight: 400;
    font-size: 13px;
    line-height: 1.38;

    &.black {
        label {
            &::before {
                border-color: #000;
            }
        }
    }

    a {
        color: inherit;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    input {
        display: none;

        &:checked + label {
            &::before {
                background: #fff;
            }

            &::after {
                opacity: 1;
            }
        }
    }

    label {
        position: relative;
        display: inline-block;
        padding-left: 45px;
        cursor: pointer;
        min-height: 30px;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 28px;
            height: 28px;
            border: 2px solid #fff;
            border-radius: 3px;
            transition: $trans;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 7px;
            transform: translateY(-50%);
            width: 16px;
            height: 12px;
            background: url(../img/icons/check.svg) no-repeat center;
            opacity: 0;
            transition: $trans;
        }
    }
}

.radio {
    color: rgba(41, 41, 41, 0.62);
    font-weight: 400;
    font-size: 13px;
    line-height: 1.38;
    min-height: 30px;

    input {
        display: none;

        &:checked + label {
            &::after {
                opacity: 1;
                transform: translateY(-50%) scale(1);
            }
        }
    }

    label {
        position: relative;
        display: inline-block;
        padding-left: 45px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            border: 2px solid #000;
            border-radius: 3px;
            transition: $trans;
            border-radius: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translateY(-50%) scale(0);
            width: 16px;
            height: 16px;
            background: #000;
            opacity: 0;
            transition: $trans;
            border-radius: 50%;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
    color: $blue;
    font-weight: 500;
}

.btn {
    display: inline-block;
    transition: $trans;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    user-select: none;
    background: $yellow;
    border-radius: 3px;
    color: #292929;
    padding: 10px 20px;
    font-weight: bold;

    &:focus {
        outline: none;
    }

    &:hover {
        background: #000000;
        color: #fff;
    }

    &.center {
        @include centerX;
    }

    &-black {
        background: #000000;
        color: #fff;

        &:hover {
            background: $yellow;
            color: #292929;
        }
    }
}

.container {
    @include r(1170) {
        padding: 0 15px;
    }

    margin: 0 auto;
    max-width: 1140px;
}

.mainwrapper {
    width: 100%;
}

.banner {
    background: #ebebeb;

    .container {
        position: relative;
        background: url('../img/banner.png') no-repeat center;
        background-size: cover;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 26px;
        font-size: 12px;
        font-weight: 600;

        a {
            margin-left: 15px;
            display: flex;
            align-items: center;

            svg {
                margin-left: 5px;
                font-size: 10px;
                fill: $blue;
            }
        }
    }
}

.swiper {
    &-container {
        overflow: hidden;
    }

    &-button {
        &-disabled {
            opacity: 0 !important;
        }

        &-prev,
        &-next {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0;
            transition: $trans;
            position: static;
            width: 54px;
            height: 54px;

            &::after {
                display: none;
            }

            &:hover {
                background-color: #ccc;
            }

            &.small {
                width: 15px;
                height: 15px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                &:hover {
                    opacity: 0.3;
                    background-color: transparent;
                }

                svg {
                    font-size: 10px;
                }
            }
        }

        &-prev {
            margin-right: 15px;
        }

        &-next {
            right: 0;
        }
    }

    &-pagination {
        text-align: center;
        position: static;
        margin-top: 5px;

        &-bullet {
            @include r(1023) {
                width: 8px;
                height: 8px;
            }

            width: 45px;
            height: 5px;
            background: #595959;
            border-radius: 10px;
            opacity: 1;
            transition: $trans;
            position: relative;

            &::before {
                @include r(1023) {
                    display: none;
                }

                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 5px;
                border-radius: 10px;
                background: #000;
                width: 0;
            }

            &-active {
                @include r(1023) {
                    width: 8px;
                    background: #000;
                }

                width: 162px;

                &::before {
                    animation: pagination 5s ease-in-out 0s forwards;
                }
            }
        }
    }
}

.slider__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes pagination {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.header {
    padding: 7px 0;

    .container {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 179px;
        margin-right: 30px;
        transition: $trans;
        flex-shrink: 0;

        &:hover {
            opacity: 0.6;
        }

        img {
            width: 100%;
        }
    }

    &__menu {
        @include r(767) {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #fff;
            z-index: 999;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 40px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            opacity: 0;
            pointer-events: none;
            user-select: none;

            &.active {
                opacity: 1;
                pointer-events: auto;
            }
        }

        @include r(413) {
            padding: 30px;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & > * {
            &:nth-last-child(-n + 4) {
                .dropdown {
                    left: initial;
                    right: 0;

                    &__wrapper {
                        border-radius: 10px 0 10px 10px;

                        &::before {
                            left: initial;
                            right: -6px;
                            transform: rotate(135deg);
                        }
                    }
                }
            }
        }

        & > div,
        & > a {
            @include r(1023) {
                font-size: 12px;
            }

            @include r(767) {
                margin-bottom: 10px;
                font-size: 20px;
            }

            font-size: 14px;
            font-weight: 700;
            transition: $trans;
            cursor: pointer;
            position: relative;
            color: #292929;
            display: flex;
            align-items: center;

            .header__count {
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 15px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: $yellow;
                position: relative;
                top: -3px;
                right: -3px;
                font-size: 8px;
                font-weight: bold;
                color: #292929 !important;
            }
        }

        & > a {
            &:hover {
                color: $blue;
            }
        }

        & > div {
            @include r(1023) {
                display: block;
            }

            display: flex;
            align-items: center;

            &:hover {
                span {
                    color: $blue;
                }

                .dropdown {
                    opacity: 1;
                    pointer-events: all;
                    user-select: initial;
                }

                svg {
                    transform: rotate(180deg);
                    fill: $blue;
                }
            }

            svg {
                @include r(767) {
                    display: none;
                }

                font-size: 7px;
                margin-left: 5px;
                transition: $trans;
            }
        }

        .dropdown {
            @include r(767) {
                position: static;
                transform: none;
                opacity: 1;
                padding: 0;
            }

            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(100%);
            opacity: 0;
            pointer-events: none;
            user-select: none;
            z-index: 15;
            padding-top: 18px;
            transition: $trans;

            &__wrapper {
                @include r(767) {
                    background: transparent;
                    box-shadow: none;
                    padding: 0;
                    padding-left: 30px;
                }

                @include r(767) {
                    padding-left: 15px;
                }

                @include r(413) {
                    padding-left: 0;
                }

                padding: 15px 22px;
                background: #fff3e2;
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.02);
                border-radius: 0px 10px 10px 10px;
                position: relative;

                &::before {
                    @include r(767) {
                        display: none;
                    }

                    content: '';
                    position: absolute;
                    top: -8px;
                    left: -6px;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #fff3e2;
                    border-radius: 3px;
                    transform: rotate(225deg);
                }
            }

            a {
                @include r(767) {
                    font-size: 18px;
                    display: block;
                }

                @include r(767) {
                    font-size: 14px;
                }

                white-space: nowrap;
                line-height: 2.4;
                font-weight: 400;

                &:hover {
                    color: $blue;
                }
            }
        }
    }

    &__search {
        @include r(1023) {
            margin-left: 15px;
        }

        @include r(767) {
            margin-left: auto;
            margin-right: 10px;
        }

        margin-left: 25px;
        position: relative;
        padding-right: 5px;
        flex-shrink: 0;

        &.active {
            @include r(767) {
                position: absolute;
                right: 0;
                top: 18px;
                left: 10px;
                z-index: 11;
                display: flex;
                justify-content: flex-end;

                button {
                    position: relative;
                    top: 13px;
                }
            }

            input {
                @include r(1023) {
                    width: 75vw;
                }

                @include r(767) {
                    width: 100%;
                    padding: 16px 9px;
                    padding-right: 45px;
                }

                width: 376px;
                padding: 13px 9px;
                padding-right: 45px;
            }
        }

        input {
            @include r(767) {
                top: 0;
                transition: none;
            }

            position: absolute;
            top: -10px;
            right: 0;
            width: 0;
            background: #f0f0f0;
            border-radius: 6px;
            font-size: 15px;
            border: 0;
            transition: all 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
            padding: 8px 0;

            &::placeholder {
                color: #6a6a6a;
            }
        }

        button {
            position: relative;
            z-index: 1;
            width: 34px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            transition: $trans;

            &:hover {
                opacity: 0.6;
            }

            svg {
                font-size: 20px;
                transition: $trans;
                flex-shrink: 0;
            }
        }
    }

    .btn {
        flex-shrink: 0;
        margin-left: 27px;
    }
}

.hamburger {
    @include r(767) {
        display: block;
    }

    display: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 20px;
    transition: $trans;

    span {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000;
        transition: $trans;
    }

    span:nth-child(1) {
        top: 0;
    }

    span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    span:nth-child(3) {
        bottom: 0;
    }

    &.active {
        @include r(767) {
            top: 32px;
        }

        position: fixed;
        z-index: 9999;
        right: 15px;
        top: 63px;

        span:nth-child(1) {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:nth-child(3) {
            bottom: 50%;
            transform: translateY(50%) rotate(-45deg);
        }
    }
}

.main {
    position: relative;
    margin-bottom: 67px;

    .swiper-slide {
        padding: 46px 52px;
        overflow: hidden;
    }

    &__title {
        font-weight: 800;
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 19px;
        max-width: 470px;

        span {
            background: #fff;
            border-radius: 3px;
            line-height: 1.17;
            display: block;
            margin-bottom: 3px;
        }
    }

    &__text {
        font-weight: 600;
        font-size: 17px;
        line-height: 1.41;
        letter-spacing: 0.02em;
        max-width: 370px;
        margin-bottom: 18px;
    }

    .btn {
        margin-top: 32px;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.11), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.079074), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0655718),
            0px 12.5216px 10.0172px rgba(0, 0, 0, 0.055), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0444282), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.030926);
    }
}

.timer {
    background: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #676767;

    &__wrapper {
        display: flex;
        align-items: center;
        margin-top: 5px;

        div {
            text-align: center;
            min-width: 51px;
            min-height: 51px;
            background: #e9e9e9;
            border-radius: 2px;
            padding: 5px;
            position: relative;

            span {
                display: block;
                font-weight: 500;
                font-size: 22px;
                text-align: center;
                letter-spacing: 0.04em;
                color: #292929;
            }
        }
    }

    .dots {
        font-weight: 500;
        font-size: 22px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #292929;
        margin: 0 3px;
    }
}

.services {
    margin-bottom: 32px;

    &__wrapper {
        @include flexlist(2px);
    }

    &__item {
        @include flexitem(25%, 2px, 4px);
        background: #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        font-size: 17px;
        line-height: 1.35;
        text-align: center;
        letter-spacing: 0.02em;
        flex-direction: column;
        padding: 32px 0;
        color: #292929;
        transition: $trans;

        &:hover {
            background: #2e2e2e;
            color: #fff;

            circle {
                fill: #515151;
            }

            path {
                &[fill='black'] {
                    fill: #fff;
                }

                &[fill='#FFCC24'] {
                    fill: #909090;
                }
            }
        }

        svg {
            display: block;
            margin-bottom: 18px;

            path,
            circle {
                transition: $trans;
            }
        }
    }
}

.more {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 32px;
    font-weight: 600;
    font-size: 17px;
    text-align: right;
    letter-spacing: 0.02em;

    a {
        display: flex;
        align-items: center;
        transition: $trans;

        &:hover {
            color: #292929;

            svg {
                fill: #292929;
            }
        }
    }

    svg {
        fill: $blue;
        margin-left: 8px;
        font-size: 12px;
        transition: $trans;
        position: relative;
        top: 1px;
    }
}

.form {
    margin-bottom: 102px;

    .container {
        background: rgb(255, 204, 36);
        background: linear-gradient(90deg, rgba(255, 204, 36, 1) 0%, rgba(255, 228, 137, 1) 100%);
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
        padding: 50px 0 0 55px;

        img {
            margin-left: -60px;
            pointer-events: none;
            user-select: none;
        }
    }

    h2 {
        margin-bottom: 7px;
    }

    .subtitle {
        margin-bottom: 29px;
    }

    form {
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        input {
            margin-right: 32px;
        }

        .checkbox {
            font-size: 13px;
        }
    }
}

.prices {
    margin-bottom: 101px;

    &__tags {
        display: flex;
        align-items: center;
        margin-bottom: 42px;

        div {
            color: $blue;
            font-weight: 600;
            font-size: 16px;
            border-bottom: 1px dotted $blue;
            margin-right: 30px;
            cursor: pointer;
            transition: $trans;

            &.active {
                color: #516275;
                border-color: transparent;

                &:hover {
                    border-color: transparent;
                }
            }

            &:hover {
                color: #000;
                border-color: #000;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    table {
        & + table {
            margin-top: 27px;
        }

        thead {
            th {
                background: #e9edf0;
                text-align: left;
                padding: 16px 27px;

                &:first-child {
                    width: 625px;

                    span {
                        font-weight: 500;
                        font-size: 17px;
                        color: #292929;
                        border-bottom: 1px dotted #292929;
                        cursor: pointer;
                    }
                }

                &:nth-child(2) {
                    width: 240px;
                    background: #e0e4e7;
                }
            }
        }

        tbody {
            tr {
                td {
                    background: #f7f7f7;
                    padding: 14px 27px;

                    &:first-child {
                        &:hover span {
                            border-color: transparent;
                        }

                        span {
                            cursor: pointer;
                            font-size: 16px;
                            color: #292929;
                            border-bottom: 1px dotted #292929;
                            transition: $trans;
                        }
                    }

                    &:nth-child(2) {
                        background: #f1efef;
                    }

                    &:last-child {
                        a {
                            display: flex;
                            align-items: center;
                            font-weight: 400;
                            font-size: 16px;
                            color: #516275;

                            svg {
                                font-size: 8px;
                                margin-left: 5px;
                                fill: #516275;
                                position: relative;
                                top: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.price {
    font-weight: 400;
    font-size: 17px;
    color: #292929;

    span {
        font-weight: 300;
        font-size: 17px;
        color: #292929;
        position: relative;
        display: inline-block;
        margin-right: 10px;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -7px;
            right: -7px;
            height: 1px;
            background: red;
        }
    }
}

.steps {
    margin-bottom: 101px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        @include flexlist(12px);
    }

    &__item {
        padding: 22px 19px;
        display: flex;
        align-items: center;
        border: 1px solid #000000;
        box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.07);
        border-radius: 3px;
        @include flexitem(50%, 12px, 43px);
        position: relative;

        &:first-child {
            @include flexitem(100%, 12px, 43px);
            order: 1;
        }
        &:nth-child(2) {
            order: 2;
        }
        &:nth-child(3) {
            order: 3;
        }
        &:nth-child(4) {
            order: 5;
        }
        &:nth-child(5) {
            order: 4;
        }
        &:nth-child(6) {
            order: 6;
        }
        &:nth-child(7) {
            order: 7;
        }
        &:nth-child(8) {
            order: 9;
        }
        &:nth-child(9) {
            order: 8;
        }
        &:nth-child(10) {
            order: 10;
        }
        &:nth-child(11) {
            order: 11;
        }

        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(9),
        &:nth-child(10) {
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                height: 1px;
                width: 24px;
                transform: translateX(100%);
                border-bottom: 1px dotted #000;
            }
        }
    }

    &__num {
        flex-shrink: 0;
        margin-right: 19px;
        width: 125px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            pointer-events: none;
            user-select: none;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 21px;
        letter-spacing: 0.02em;
    }

    &__contacts {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;

        a:not(.btn) {
            font-weight: 800;
            font-size: 17px;
            text-align: center;
            color: #292929;
            transition: $trans;

            &:hover {
                color: $blue;
            }
        }

        .btn {
            margin-top: 8px;
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        pointer-events: none;
        user-select: none;

        &.left {
            left: -40px;
        }
        &.right {
            right: -40px;
        }
    }
}

.order {
    background: url(../img/road.svg) no-repeat center;
    background-size: 100% 100%;
    margin-bottom: 101px;

    img {
        width: 135px;
        position: absolute;
        bottom: -50px;
        left: 50px;
        pointer-events: none;
        user-select: none;
    }

    .subtitle {
        margin-bottom: 45px;
    }

    .container {
        @include r(1170) {
            padding-left: 15px;
            padding-right: 15px;
        }

        background: #e8e8e8;
        border-radius: 3px;
        padding: 73px 56px;
        position: relative;
    }

    form {
        @include flexlist(12px);

        & > div {
            @include flexitem(50%, 12px, 0);
        }
    }

    &__item {
        background: #ffffff;
        box-shadow: 0px 11px 17px rgba(0, 0, 0, 0.02);
        border-radius: 3px;
        padding: 44px 66px 44px 107px;

        &.padding {
            padding-bottom: 76px;
        }

        & + .order__item {
            margin-top: 24px;
        }

        .checkbox,
        .radio {
            font-weight: 400;
            font-size: 20px;
            line-height: 2.5px;
            letter-spacing: 0.02em;
            color: #292929;

            & + .radio,
            & + .checkbox {
                margin-top: 20px;
            }
        }

        .input {
            display: flex;
            align-items: center;
            background: #ffffff;
            border: 2px solid #000000;
            border-radius: 3px;
            padding: 4px;

            input {
                width: 100%;

                &::placeholder {
                    font-weight: 400;
                    font-size: 17px;
                    color: #292929;
                }
            }

            &__desc {
                flex-shrink: 0;
                width: 46px;
                height: 46px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                font-size: 17px;
                color: #292929;
                background: #e1e1e1;
                border-radius: 2px;
            }
        }
    }

    &__title {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 22px;
    }

    button {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin-top: 30px;
    }
}

.items {
    margin-bottom: 101px;

    &__wrapper {
        @include flexlist(12px);
    }

    .card {
        @include flexitem(33.33%, 12px, 48px);
    }
}

.card {
    border-radius: 3px;
    background: #f6f6f6;
    color: #292929;
    transition: $trans;
    position: relative;
    cursor: pointer;
    top: 0;

    &:hover {
        top: -10px;
        background: #fff;
        box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.13);

        button {
            background: #000;
            color: #fff;
        }

        .card__features span {
            background: #fff;
        }

        .card__title {
            text-decoration: none;
        }
    }

    &-full {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 23px 33px 33px;
    }

    &__more {
        position: relative;
        top: -60px;
    }

    &__img {
        padding-bottom: 66%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        border-radius: 3px;
    }

    &__percent {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: $yellow;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            font-size: 12px;
        }
    }

    &__info {
        padding: 23px 33px 33px;
    }

    &__title {
        font-weight: 700;
        font-size: 19px;
        letter-spacing: 0.02em;
        max-width: 265px;
        color: #292929;
        text-decoration: underline;
        text-decoration-color: $yellow;
        margin-bottom: 13px;
        display: inline-block;

        &:hover {
            text-decoration: none;
        }
    }

    &__features {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px dotted #918d8d;

        & + .card__features {
            margin-top: 10px;
        }

        span {
            background: #f6f6f6;
            position: relative;
            z-index: 1;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.02em;
            display: block;
            padding: 0;
            margin-bottom: -1px;
            transition: $trans;

            &:first-child {
                color: #918d8d;
            }

            &:last-child {
                width: 126px;
            }
        }
    }

    &__prices {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 27px;

        & > div {
            width: 50%;
            position: relative;

            &:first-child::after {
                content: '';
                position: absolute;
                top: 0;
                right: 17px;
                bottom: 0;
                width: 1px;
                border-right: 1px solid #d9d9d9;
            }

            & > span {
                font-weight: 300;
                font-size: 13px;
                letter-spacing: 0.02em;
            }
        }

        .price {
            font-size: 16px;

            span {
                font-size: 13px;
            }
        }
    }

    button {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.about {
    margin-bottom: 101px;

    .container {
        display: flex;
        align-items: center;

        & > div {
            width: 50%;

            &:last-child {
                border: 13px solid #f2f2f2;
                padding: 60px;
                margin-left: 20px;
            }
        }
    }

    &__text {
        font-weight: 400;
        font-size: 19px;
        line-height: 1.53;
        letter-spacing: 0.02em;
        color: #292929;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }

        img {
            flex-shrink: 0;
            margin-right: 37px;
            user-select: none;
            pointer-events: none;
        }

        span {
            font-weight: 700;
            font-size: 24px;
            line-height: 1.17;
        }
    }
}

.counters {
    background: url(../img/count-bg.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 95px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-top: 139px;
        padding-bottom: 294px;

        & > img {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
        }
    }

    &__count {
        color: $yellow;
        font-weight: 700;
        font-size: 68px;
        letter-spacing: 0.02em;
        color: #ffcc24;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.39;
        letter-spacing: 0.02em;
        color: #ffffff;
    }
}

.works {
    margin-bottom: 101px;

    .container {
        background: #f6f6f6;
        border-radius: 3px;
        padding: 74px;
    }

    &__imgs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;

        div {
            width: 49%;
            border-radius: 3px;
            position: relative;

            span {
                position: absolute;
                top: 26px;
                right: 0;
                padding: 0 35px;
                font-weight: 700;
                font-size: 19px;
                letter-spacing: 0.02em;
                color: #ffffff;
                background: rgba(0, 0, 0, 0.63);
                line-height: 40px;
            }

            img {
                width: 100%;
                border-radius: 3px;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 21px;
        letter-spacing: 0.02em;
        margin-bottom: 15px;
    }

    &__text {
        font-weight: 300;
        font-size: 17px;
        line-height: 1.41;
        letter-spacing: 0.02em;
    }

    &__footer {
        padding-top: 42px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .slider__controls {
            display: flex;

            svg {
                font-size: 54px;
            }
        }
    }
}

.reviews {
    @include r(1023) {
        margin-bottom: 60px;
    }

    margin-bottom: 101px;

    &__card {
        background: #ffffff;
        border-radius: 10px;
        padding: 30px;
        color: inherit;
        text-decoration: none;

        .zoom {
            cursor: pointer;
        }

        &-bottom {
            padding-bottom: 0;
            overflow: hidden;

            .zoom {
                position: relative;
                top: 6px;
            }
        }
    }

    a.reviews__card:hover .reviews__link {
        text-decoration: none;
    }

    &__title {
        font-weight: 300;
        font-size: 14px;
        color: #a6a6a6;
        margin-bottom: 8px;
    }

    &__link {
        font-weight: 400;
        font-size: 15px;
        line-height: 1.4;
        text-decoration: underline;
        color: #0188ff;
        margin-bottom: 17px;
        display: block;
        cursor: pointer;
    }

    &__author {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &-img {
            width: 76px;
            height: 76px;
            background: #e6f9e3;
            border-radius: 20px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 19px;
            flex-shrink: 0;

            img {
                border-radius: 20px;
            }

            svg {
                fill: #a6c2a2;
                font-size: 34px;
            }
        }

        &-name {
            display: inline;
            font-weight: 800;
            font-size: 15px;
            line-height: 1.27;
            margin-bottom: 7px;

            svg {
                fill: $blue;
                margin-left: 7px;
                font-size: 14px;
            }
        }

        &-text {
            font-size: 14px;
        }
    }

    &__name {
        font-weight: 800;
        font-size: 15px;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    &__text {
        font-weight: 300;
        font-size: 15px;
        line-height: 1.53;
        margin-bottom: 25px;

        & + .reviews__link {
            margin-bottom: 0;
        }
    }

    .rating {
        margin-bottom: 21px;
    }

    .video {
        margin-bottom: 25px;

        &:hover {
            .video__play {
                color: rgba(255, 255, 255, 0.66);
                transform: translate(-50%, -50%);

                svg {
                    fill: rgba(255, 255, 255, 0.66);
                }
            }
        }

        &__play {
            font-size: 14px;
            padding: 12px 21px;
            background: rgba(0, 0, 0, 0.72);
        }
    }
}

.zoom {
    position: relative;
    display: flex;
    align-items: flex-end;

    &__btn {
        position: absolute;
        right: 22px;
        bottom: 37px;
        background: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.17);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            font-size: 22px;
            fill: #0188ff;
        }
    }
}

.rating {
    $unchecked-color: #d8d8d8;
    $checked-star: '\2605';
    $checked-color: #fe9b23;
    display: flex;
    align-items: center;
    margin-right: 60px;

    &.disabled {
        .star-cb-group {
            pointer-events: none;
        }
    }

    &-input {
        margin-right: 0;
        background: #fff;
        border-radius: 100px;
        border: 1px solid #c8c8c8;
        padding: 14px 24px;
        transition: $trans;
        display: flex;
        justify-content: center;

        .star-cb-group {
            & > input {
                & + label {
                    width: 32px !important;
                    height: 24px !important;

                    &:before {
                        width: 27px !important;
                        height: 24px !important;
                    }
                }
            }
        }
    }

    &__count {
        color: $blue;
        font-size: 14px;
        position: relative;
        top: 1px;
        margin-left: 10px;
    }

    .star-cb-group {
        font-size: 0;
        unicode-bidi: bidi-override;
        direction: rtl;
        display: flex;

        * {
            font-size: 1rem;
        }

        & > input {
            display: none;

            & + label {
                display: inline-block;
                overflow: hidden;
                text-indent: 9999px;
                width: 1em;
                white-space: nowrap;
                cursor: pointer;
                position: relative;
                width: 19px;
                height: 15px;

                &:before {
                    display: inline-block;
                    // text-indent: -9999px;
                    content: '';
                    background: url(../img/icons/star.svg) no-repeat center;
                    background-size: cover;
                    color: $unchecked-color;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 15px;
                    height: 15px;
                }
            }

            &:checked ~ label:before,
            & + label:hover ~ label:before,
            & + label:hover:before {
                background: url(../img/icons/star-checked.svg) no-repeat center;
                background-size: cover;
            }
        }

        & > .star-cb-clear + label {
            text-indent: -9999px;
            width: 0.5em;
            margin-left: -0.5em;
        }

        & > .star-cb-clear + label:before {
            width: 0.5em;
        }

        &:hover > input + label:before {
            background: url(../img/icons/star.svg) no-repeat center;
            background-size: cover;
        }

        &:hover > input + label:hover ~ label:before,
        &:hover > input + label:hover:before {
            background: url(../img/icons/star-checked.svg) no-repeat center;
            background-size: cover;
        }
    }

    fieldset {
        border: 0;
        border-radius: 1px;
        padding: 0;
    }
}
